@using ProductManagement.Dto.Dto;
@model OrderViewModelDto;

@{
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>

        body {
            color: #262626;
            margin: 5% 0;
        }

        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        @@media (min-width: 1200px) {
            .container {
                max-width: 1140px;
            }
        }

        .d-flex {
            display: flex;
            flex-direction: row;
            background: #f6f6f6;
            border-radius: 0 0 5px 5px;
            padding: 25px;
        }

        form {
            flex: 4;
        }

        .Yorder {
            flex: 2;
        }

        .title {
            background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5195A8), color-stop(100, #70EAFF));
            background: -moz-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
            background: -ms-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
            background: -o-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
            background: linear-gradient(to bottom right, #5195A8 0%, #70EAFF 100%);
            border-radius: 5px 5px 0 0;
            padding: 20px;
            color: #f6f6f6;
        }

        h2 {
            margin: 0;
            padding-left: 15px;
        }

        .required {
            color: red;
        }

        .Yorder {
            height: 600px;
            padding: 20px;
        }

        table {
            margin: 0;
            padding: 0;
        }

        th {
            border-bottom: 1px solid #435d7d;
            padding: 10px 0;
        }

        tr > td:nth-child(1) {
            text-align: left;
            color: #2d2d2a;
        }

        tr > td:nth-child(2) {
            text-align: left;
            color: #52ad9c;
        }

        td {
            border-bottom: 1px solid #dadada;
            padding: 10px 25px 10px 0;
        }

        p {
            display: block;
            color: #888;
            margin: 0;
            padding-left: 25px;
        }

        .Yorder > div {
            padding: 15px 0;
        }

        .page-content {
            margin-top: -49px;
            padding-left: 250px;
        }

        button {
            width: 100%;
            margin-top: 10px;
            padding: 10px;
            border: none;
            border-radius: 30px;
            background: #52ad9c;
            color: #fff;
            font-size: 15px;
            font-weight: bold;
        }

            button:hover {
                cursor: pointer;
                background: #428a7d;
            }

        .zazaza {
        }
    </style>
</head>
<body>
    <div class="" style="padding: 0; padding-right: 40px;">
        <div class="title">
            <h2>Product Order Form</h2>
        </div>
        <div class="d-flex zazaza" style="display: block !important;">
            <div class="row">
                <div class="col-md-4">
                    <form action="">
                        <div class="row">
                            <label>
                                <span class="fname">First Name <span class="required">*</span></span>
                            </label>
                            <input disabled class="form-control" type="text" id="fname" value="@Model.User.FirstName">
                        </div>
                        <div class="row">
                            <label>
                                <span class="lname">Last Name <span class="required">*</span></span>

                            </label>
                            <input disabled class="form-control" type="text" id="lname" value="@Model.User.LastName">
                        </div>
                        <div class="row">
                            <label>
                                <span>Email <span class="required">*</span></span>
                            </label>
                            <input disabled class="form-control" type="text" id="email" value="@Model.User.Email">
                        </div>
                        <div class="row">
                            <label>
                                <span>Phone <span class="required">*</span></span>

                            </label>
                            <input class="form-control" id="phone" type="tel" name="tel">

                        </div>
                        <div class="row">
                            <label>
                                <span>Address <span class="required">*</span></span>

                            </label>
                            <textarea class="form-control" id="address" type="text" name="address" placeholder="Enter address"></textarea>
                        </div>
                    </form>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <div class="">
                        <div>
                            <div class="row">
                                <label>Brand</label>
                                <select class="form-control" style="width:60%" id="company">
                                    @for (int i = 0; i < Model.Brand.Count(); i++)
                                    {
                                        if (i == 0)
                                        {
                                            <option selected value="@(Model.Brand[i].CompanyId)">
                                                @Model.Brand[i].CompanyName
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="@(Model.Brand[i].CompanyId)">
                                                @Model.Brand[i].CompanyName
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                            <br />
                            <div class="row">
                                <label>Category</label>
                                <select class="form-control" style="width:60%" id="category">
                                    @for (int i = 0; i < Model.Brand.Count(); i++)
                                    {
                                        if (i == 0)
                                        {
                                            <option selected value="@(Model.Categories[i].CategoryId)">
                                                @Model.Categories[i].Name

                                            </option>
                                        }
                                        else
                                        {
                                            <option value="@(Model.Categories[i].CategoryId)">
                                                @Model.Categories[i].Name
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                            <br />
                            <div class="row">
                                <label>Product</label>
                                <select class="form-control" style="width:60%" id="product">
                                    @for (int i = 0; i < Model.Products.Count(); i++)
                                    {
                                        if (i == 0)
                                        {
                                            <option selected value="@(Model.Products[i].ProductId)" data-companyId="@(Model.Products[i].CompanyId)"
                                                    data-categoryId="@(Model.Products[i].CategoryId)" data-price="@(Model.Products[i].Price)">
                                                @Model.Products[i].Name
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="@(Model.Products[i].ProductId)" data-companyId="@(Model.Products[i].CompanyId)"
                                                    data-categoryId="@(Model.Products[i].CategoryId)" data-price="@(Model.Products[i].Price)">
                                                @Model.Products[i].Name

                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                            <br />
                            <div class="row">
                                <label>Quantity</label>
                                <input class="form-control" style="width:25%" type="number" id="quantity" />
                            </div>

                            <div class="row" style="display: flex;flex-direction: row-reverse;">
                                <div class="col-md-10" style="display: flex;flex-direction: row-reverse;">
                                    <button class="btn btn-primary" id="btnAddToTable" style="max-width: 150px;">Add</button>
                                </div>

                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="tableNew" style="display: flex;overflow-y: auto;justify-content: space-around; border: 1px solid #435d7d; border-radius: 14px;">
                    <table style="width: 100%;">
                        <thead style="color: #435d7d;">
                            <tr>
                                <th>Product Name</th>
                                <th>Company</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th></th>
                            </tr>

                        </thead>
                        <tbody id="productTable">
                            @*   <tr>
                            <td>Product Name x 2(Qty)</td>
                            <td>Company</td>
                            <td>Category</td>
                            <td>Product</td>
                            <td>Price</td>
                            <td style="width:100px;"><input class="form-control" type="number" value="10" /></td>
                            <td><a id="deleteFromChart"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a></td>
                            </tr> *@
                        </tbody>
                    </table>
                </div>
                <div class="row" style="display: flex;align-items:center;justify-content: space-around;margin-top: 15px;">
                    <button id="btnSubmitOrder" style="max-width:200px" type="button">Order Now</button>
                </div>
                <!-- Yorder -->
            </div>


        </div>
    </div>

    <script>
        $('body').on('change', '#category', function () {
            $('#product').val('');
            var id = $(this).val();
            if (id != "" && id != null) {
                $('#product option').each(function () {
                    if ($(this).data('categoryid') !== parseInt(id)) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            }

        });
        $('body').on('change', '#company', function () {
            $('#product').val('');
            var id = $(this).val();
            if (id != "" && id != null && id != "1") {
                $('#product option').each(function () {
                    if ($(this).data('companyId') !== parseInt(id)) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            }

        });
        $('body').on('click', '#btnAddToTable', function () {
            var element = {
                ProductName: $('#product option:selected').text().trim(),
                ProductId: $('#product option:selected').val(),
                CategoryName: $('#category option:selected').text().trim(),
                CategoryId: $('#category option:selected').val(),
                CompanyName: $('#company option:selected').text().trim(),
                CompanyId: $('#company option:selected').val(),
                Quantity: $('#quantity').val(),
                Price: $('#product option:selected').data('price')
            };
            if (element.CategoryId != "" && element.ProductId != "" && element.CompanyId != "" && element.Quantity != "") {
                var elementWithSameId = $('tr[data-productId="' + element.ProductId + '"]' + '');
                if (elementWithSameId.length == 1) {
                    var quantityOld = $('tr[data-productId="' + element.ProductId + '"]' + '').first().find('.quantity').val();
                    var quantityNew = parseInt(quantityOld) + parseInt(element.Quantity);
                    $('tr[data-productId="' + element.ProductId + '"]' + '').first().find('.quantity').val(quantityNew);
                } else {
                    var newRow = `<tr data-productId="${element.ProductId}" data-categoryId="${element.CategoryId}" data-companyId="${element.CompanyId}">
                                                    <td>${element.ProductName}</td>
                                                    <td>${element.CompanyName}</td>
                                                    <td>${element.CategoryName}</td>
                                                    <td>${element.Price}</td>
                                                    <td style="width:100px;"><input class="form-control quantity" type="number" value="${element.Quantity}" /></td>
                                                    <td><a class="btn deleteFromChart"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a></td>
                                                    </tr>`;

                    $('#productTable').append(newRow);
                }

            }
            $('#product').val('');
            $('#category').val('');
            $('#company').val('');
            $('#quantity').val('');

        });
        $('body').on('click', '.deleteFromChart', function () {
            $(this).closest('tr').remove();
        })
        $('body').on('change', '.quantity', function () {
            var value = $(this).val();
            if (value != '') {
                if (parseInt(value) < 1) {
                    $(this).closest('tr').remove();
                }
            }

        })
        $('body').on('click', '#btnSubmitOrder', function () {
            var data = {
                Phone: $('#phone').val(),
                Address: $('#address').val()
            };
            var products = [];
            var trList = $('#productTable tr');
            $.each(trList, function (i, v) {
                var newProduct = {
                    ProductId: $(v).data('productid'),
                    Quantity: $(v).find('.quantity').val()
                };
                products.push(newProduct);
                if (i == trList.length - 1) {
                    data.OrderProducts = products;
                    $.ajax({
                        type: "POST",
                        url: "/Order/Create",
                        data: data,
                        success: function (response) {
                            if (response.isOk) {
                                window.location.href = response.returnUrl;
                            } else {
                                $('#createResponse').text(response.message);
                            }

                        },
                        error: function (e) {
                        }
                    });
                }
            });

        })
    </script>


</body>